<div class="add-profile-container">
  <div class="row">
    <div class="col-md-6 text-center">
      <p class="add-profile-title">¡Hola! Configuremos tu perfil</p>
      <p class="add-profile-text">Queremos conocerte mejor.</p>
    </div>
  </div>
  <div class="row row-card-image">
    <div class="col-md-6 d-flex justify-content-center">
      <div class="card-user-image">
        <p class="text-card-image">Imágen perfil</p>
        <img class="img-card-image">
        <input class="input-card-image"  type="file" placeholder="Adjunta un foto">
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <div class="card-user-image-2">
        <p class="text-card-title">Tu información</p>
        <p class="add-profile-text">Completa la siguiente información para completar tu perfil</p>
        <form>
          <div class="form-group">
            <input class="input-card-data" type="text" placeholder="Nombre*">
            <input class="input-card-data" type="text" placeholder="Pasatiempo favorito">
            <input class="input-card-data" type="date" placeholder="Cumpleaños*">
            <input class="input-card-data" type="text" placeholder="Documento*">
            <div class="div-btn-card-data">
              <button type="button" class="btn btn-primary">Continuar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
