.first-div-header {
  height: 75px;
  background: rgb(9,79,121);
  background: linear-gradient(180deg, rgba(9,79,121,0) 0%, rgba(146,174,217,0.15730042016806722) 100%, rgba(2,0,36,0) 100%);
}

.second-div-header {
  height: 90%;
  background: white;
}

.img-header {
  position: absolute;
  width: 138px;
  height: 51px;
  left: 41px;
  top: 12px;
}

.add-profile-container {
  margin-top: 90px;
}

.add-profile-title {
  font-family: revert;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  align-items: center;
  text-align: center;
  color: #185A7D;
}

.add-profile-text {
  font-family: revert;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #868686;
}

.card-user-image {
  width: 392px;
  height: 600px;
  background: #00693C;
  border-radius: 50px;
  text-align: center;
}

.row-card-image {
  margin-top: 50px !important;
}

.text-card-image {
  font-family: revert;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  color: white;
}

.img-card-image {
  width: 269px;
  height: 269px;
  background: #E7EFF5;
  border: 14px solid #FFFFFF;
  border-radius: 50%;
  margin-top: 30px;
}

.input-card-image {
  width: 334px;
  height: 70px;
  background: #FFFFFF;
  border: 1px dashed #9BB8D3;
  border-radius: 10px;
  margin-top: 50px;
}

.input-card-image-2 {
  width: 327px;
  height: 70px;
  background: #FFFFFF;
  border: 1px dashed #9BB8D3;
  border-radius: 10px;
  margin-top: 50px;
}

.card-user-image-2 {
  width: 392px;
  height: 600px;
}

.text-card-title {
  font-family: revert;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 48px;
  color: #01426A;
}

.input-card-data {
  width: 334px;
  height: 50px;
  border: 1px solid #868686;
  border-radius: 10px;
  margin: 12px 0px 12px 0px;
}

.div-btn-card-data {
  margin-top: 70px;
  text-align: center;
}

.div-input-button {
  flex-grow:2;
  border:none;
  margin-left: 30px;
}

.div-input-button:focus {
  outline: none;
}

.button-add-input {
  background: url(assets/img/delete.png) no-repeat;
  position: relative;
  right: 50px;
  border: none;
  width: 30px;
  height: 20px;
}

.card-data-name {
  font-family: revert;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  color: #FFFFFF;
  padding-top: 30px;
}

.card-data-main {
  font-family: revert;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}

.card-data-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}

.row-view-data {
  margin-top: 30px !important;
}

.col-main-card {
  margin-left: 30px;
  text-align: left;
}

.col-text-card {
  margin-right: 30px;
  text-align: right;
}

.div-card-loading {
  text-align: center;
  margin-top: 8%;
}

.text-card-loading {
  font-family: revert;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  color: #185A7D;
}
